{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>{{.name}}</h1>
        <p></p>
      </div>
    </div>
    <div class="row">
      <form action="/Name" method="POST" class="form form-horizontal">
        <div class="form-group">
          <label label-for='you.Name'>What's your name?</label>
          <input type="text" name="you.Name" id="yourName" placeholder="Your Name" class="form-control" />
        </div>
        <div class="form-group">
          <label label-for='you.age'>What's your age?</label>
          <input type="number" name="you.Age" id="yourAge" placeholder="Your Age" class="form-control" />
        </div>
        <br>
        <input type="submit" value="Submit" class="btn btn-info" />
      </form>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
